:root{

    ---text: #fff;
    --btn: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.15%);;

   ---primary: #110929;
   ---primary-hover: #080414;
   ---primary-pressed: #39324D;

   ---secundary: #1C51FE;
   ---secundary-dark: #1336A9;
   ---secundary-pressed: #0E297F;
   ---card: #251163;
}


